
@{
    ViewData["Title"] = "Choose";
}

<h1>Choose</h1>

<div class="container-fluid">
    <div class="col-sm-12 text-center">
        <a asp-controller="Halls" asp-action="Create" class="btn btn-primary">Create Hall</a>
        <a asp-controller="Halls" asp-action="All" class="btn btn-info">See Halls</a>
    </div>
</div>