@model MovieMood.Web.ViewModels.Movies.InputModels.CreateMovieInputModel

<h3>Create Movie</h3>

<form asp-action="Create">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name">Movie Name</label>
        <input asp-for="Name" type="text" class="form-control" placeholder="Name">
        <span asp-validation-for="Name" class="text-danger"/>
    </div>
    <div class="form-group">
        <label asp-for="ImagePath">ImagePath</label>
        <input asp-for="ImagePath" type="text" class="form-control" placeholder="Path">
        <span asp-validation-for="ImagePath" class="text-danger"/>
    </div>
    <div class="form-group">
        <label asp-for="Resume">Resume</label>
        <input asp-for="Resume" type="text" class="form-control" placeholder="Resume...">
        <span asp-validation-for="Resume" class="text-danger"/>
    </div>
    <div class="form-group">
        <label asp-for="Duration">Duration</label>
        <input asp-for="Duration" type="time" class="form-control">
        <span asp-validation-for="Duration" class="text-danger"/>
    </div>
    <div class="form-group">
        <label asp-for="Cast">Cast</label>
        <input asp-for="Cast" type="text" class="form-control" placeholder="Cast...">
        <span asp-validation-for="Cast" class="text-danger"/>
    </div>
    <div class="form-group">
        <label asp-for="Director">Director</label>
        <input asp-for="Director" type="text" class="form-control" placeholder="Director...">
        <span asp-validation-for="Director" class="text-danger"/>
    </div>
    @foreach (var genre in Enum.GetValues(typeof(MovieMood.Data.Models.Enums.Genre)))
    {
        <label>
            <input type="checkbox" value="@genre" name="AreChecked" />
            @genre
        </label>
    }
    <div class="form-group">
        <input asp-area="Administration" asp-controller="Movies" asp-action="Create" type="submit" value="Create" class="btn btn-success" />
    </div>
</form>