@model MovieMood.Web.ViewModels.Orders.Users.InputModels.OrderTicketsInputModel

    <form method="post">
        <div class="form-group">
            <div class="form-control mt-1">
                <label asp-for="TicketQuantity">How many tickets do you want?</label>
                <hr />
                <input style="width: 535px" asp-for="TicketQuantity" type="number" class="form-control" />
                <span asp-validation-for="TicketQuantity" class="text-danger" />
            </div>
            <input asp-for="ProjectionId" type="hidden" value="@Model.ProjectionId" class="form-control" />
        </div>
            <input style="margin-top: 68px" asp-area="" asp-controller="Orders" asp-action="Buy" type="submit" value="Buy" class="btn btn-success bottom" />
    </form>
