@model MovieMood.Web.ViewModels.Projections.Administration.InputModels.EditProjectionViewModel

<form method="post" asp-action="Edit">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Time">Date-Time</label>
        <input asp-for="Time" type="datetime" class="form-control" value="@Model.Time" style="width: 535px" />
        <span asp-validation-for="Time" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="HallId">Hall</label>
        <select class="form-control" style="width: 535px" asp-for="HallId" asp-items="Model.Halls.Select(x => new SelectListItem(x.Name, x.Id.ToString()))"></select>
        <span asp-validation-for="HallId" class="text-danger" />
    </div>
    <div class="form-check form-check-inline">
        @if (Model.IsPremiere)
        {
            <input asp-for="IsPremiere" class="form-check-input" type="checkbox" name="IsPremiere" checked>
        }
        else
        {
            <input asp-for="IsPremiere" class="form-check-input" type="checkbox" name="IsPremiere">

        }
        <label asp-for="IsPremiere" class="form-check-label">Is Premiere</label>
    </div>
    <div class="form-check form-check-inline">
        @if (Model.Is3D)
        {
            <input asp-for="Is3D" class="form-check-input" type="checkbox" name="Is3D" checked>
        }
        else
        {
            <input asp-for="Is3D" class="form-check-input" type="checkbox" name="Is3D">
        }
        <label asp-for="Is3D" class="form-check-label">Is 3D</label>
    </div>
    <input asp-for="Id" type="hidden" value="@TempData["projectionId"]" />
    <div class="form-group">
        <input asp-area="Administration" asp-controller="Projections" asp-action="Edit" type="submit" value="Edit" class="btn btn-primary" />
    </div>
</form>
