@model MovieMood.Web.ViewModels.Movies.InputModels.UploadImageInputModel

<h3>Upload Image: </h3>

<form asp-action="Upload">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="ImagePath">ImagePath</label>
        <input asp-for="ImagePath" type="text" class="form-control" placeholder="Path">
    </div>
    <div class="form-group">
        <input asp-controller="Movies" asp-action="Upload" type="submit" value="Upload" class="btn btn-primary" />
    </div>
</form>
