@model MovieMood.Web.ViewModels.Halls.Administration.InputModels.CreateHallInputModel
@{
    ViewData["Title"] = "Create";
}

<h3>Create Hall</h3>

<form asp-action="Create">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name">Hall Name</label>
        <input asp-for="Name" type="text" class="form-control" placeholder="Name">
    </div>
    <div class="form-group">
        <input asp-area="Administration" asp-controller="Halls" asp-action="Create" type="submit" value="Create" class="btn btn-success" />
    </div>
</form>
