@model MovieMood.Web.ViewModels.Halls.ViewModels.HallDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<section class="py-5">
    <div class="container">
        <h1 text-align: center;">Hall's Details</h1>
        <div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" readonly class="form-control" value="@Model.Name">
            </div>
            <div class="form-group">
                <label for="createdOn">CreatedOn</label>
                <input type="text" readonly class="form-control" value="@Model.CreatedOn">
                <a href="/Administration/Halls/Delete?hallId=@Model.Id" class="btn btn-danger text-white mt-2">Delete Hall</a>
            </div>
        </div>
    </div>
</section>

